*h5
Mean
onlineGRU
seq2point
seq2seq
rnn
dae
disaggregate/__pycache__
*hdf5
excess
.ipynb_checkpoints
.pycache
mean_folder
pre-trained-mean
prev_disaggregate
.xlsx
.xlxs
__pycache__
__pycache__/*
disaggregate/__pycache__/*
disaggregate/__pycache__/
buildsys_notebooks
